{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}quizapp Dashboard{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="/student/add">Add Student</a>
    <a class="action" href="/quiz/add">Add Quiz</a>
    <a class="action" href="/result/add">Add Quiz Result</a>
  {% endif %}
{% endblock %}

{% block content %} 
    <table>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Quiz ID</th>
            <th>Score</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result['student_id'] }}</td>
                <td>{{ result['student_name'] }}</td>
                <td>{{ result['quiz_id'] }}</td>
                <td>{{ result['score'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}