<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Quiz Database</title>
    </head>

    <body>
        <div id="banner">
            <h1>Welcome to Your Quizzes Database</h1>
            <p class="lead">please enter your credentials</p>
        </div>

        <div id="loginform">
            <form action="/login" method="post">
                Username<br>
                <input type="text" name="username"><br>

                Password<br>
                <input type="text" name="password"><br>
                <input type="submit" value="Submit"><br>
            </form>

        </div>
    